* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #fff8ca;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

input {
  display: none;
}

label {
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: 6vw;
  left: -5vw;
  color: rgb(0, 0, 82);
}

.content {
  width: 60%;
  position: absolute;
  transition: all 300ms;
  transform: translateX(-50%);
  margin-left: 50%;
}

.map-container {
  margin-right: auto;
  margin-left: 12vw;
}

.img {
  width: 100vw;
  background-color: rgba(236, 240, 241, 1);
  margin: 50px 0;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  background-color: rgba(127, 140, 141, 1);
  margin-left: -15vw; /* Adjusted for correct off-screen placement */
  transition: margin-left 300ms;
  overflow: auto;
  padding-bottom: 2vh;
}

.navigation nav .main-list {
  text-align: left;
}

.navigation nav ul li {
  padding-bottom: 0px;
  padding-top: 0px;
}

.navigation nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  transition: all 300ms;
  padding-left: 0px;
}

.navigation nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

.sublist-item {
  font-size: 14px;
}

.sublist {
  opacity: 0;
  height: 0;
  padding: 0 8px;
  overflow: hidden;
  transition: all 0.3s ease 0.15s;
}

.navigation nav ul li:hover .sublist {
  opacity: 1;
  height: auto;
  padding: 8px;
  overflow: auto;
}

input[type="checkbox"]:checked ~ label {
  left: 10vw; /* Adjust according to your navigation width and margin */
}

/* Adjust the navigation when checked */
input[type="checkbox"]:checked ~ .navigation {
  margin-left: 0;
}

#searchResults input {
  display: block;
  margin-left: 20px;
  width: 12vw;
  height: 4vh;
}

::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.highlight {
  outline: 3px solid red;
  background-color: blanchedalmond; /* Customize the highlight style */
}

area {
  display: block;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14vw;
  background-color: rgba(127, 140, 141, 1);
  border: none;
  height: 5vh;
  text-align: left;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.btn a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  width: 9vw;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #d3d3d3;
}

h1 {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.bookmark-icon {
  margin-left: 10px;
  cursor: pointer;
  text-align: right;
}

.vendor-info,
.vendor-contact {
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.back-button {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  background-color: rgba(127, 140, 141, 1);
  text-decoration: underline;
}

.back-button:hover {
  color: #fff8ca;
  text-decoration: none;
}

#map-list .vendor-header {
  color: #fff8ca;
  padding-left: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .content {
    margin-left: 40vw;
  }

  label {
    margin-left: 11vw;
    left: -10vw;
  }

  input[type="checkbox"]:checked ~ label {
    left: 10vw; /* Adjust according to your navigation width and margin */
  }
  .navigation {
    width: 20vw;
    overflow: auto;
    height: 100vh;
    padding-bottom: 10px;
    margin-left: -20vw;
  }

  .btn {
    width: 100%;
    padding-left: 10px;
  }

  .btn a {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.75rem;
    width: 75vw;
  }

  #searchResults input {
    width: 18vw;
    margin: 10px;
  }

  #map-list .vendor-header {
    font-size: 1rem;
  }

  .vendor-info,
  .vendor-contact {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 992px) {
  .content {
    margin-left: 40vw;
  }

  label {
    margin-left: 11vw;
    left: -10vw;
  }

  input[type="checkbox"]:checked ~ label {
    left: 10vw; /* Adjust according to your navigation width and margin */
  }
  .navigation {
    width: 20vw;
    overflow: auto;
    height: 100vh;
    padding-bottom: 10px;
    margin-left: -20vw;
  }

  .btn {
    width: 100%;
    padding-left: 10px;
  }

  .btn a {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.75rem;
    width: 75vw;
  }

  #searchResults input {
    width: 18vw;
    margin: 10px;
  }

  #map-list.vendor-header {
    font-size: 1rem;
  }

  .vendor-info,
  .vendor-contact {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 40vw;
  }

  label {
    margin-left: 31vw;
    left: -30vw;
  }

  input[type="checkbox"]:checked ~ label {
    left: 10vw; /* Adjust according to your navigation width and margin */
  }

  .navigation {
    width: 40vw;
    overflow: auto;
    height: 100vh;
    padding-bottom: 10px;
    margin-left: -40vw;
  }

  #searchResults input {
    width: 27vw;
    margin: 10px;
  }

  .btn {
    width: 100%;
    padding-left: 10px;
  }

  .btn a {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.75rem;
    width: 75vw;
  }

  #map-list .vendor-header {
    font-size: 1rem;
  }

  .vendor-info,
  .vendor-contact {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 420px) {
  .content {
    margin-left: 40vw;
  }

  label {
    margin-left: 26vw;
    left: -25vw;
  }

  input[type="checkbox"]:checked ~ label {
    left: 10vw; /* Adjust according to your navigation width and margin */
  }

  .navigation {
    width: 35vw;
    overflow: auto;
    height: 40vh;
    padding-bottom: 10px;
    margin-left: -35vw;
  }

  #searchResults input {
    width: 24vw;
    margin: 10px;
    height: 2vh;
  }

  ::placeholder {
    font-size: 0.5rem;
  }

  .btn {
    width: 100%;
    padding-left: 10px;
    height: 3vh;
  }

  .btn a {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.45rem;
    width: 50vw;
  }

  i {
    font-size: 0.5rem;
  }

  #map-list .vendor-header {
    font-size: 1rem;
  }

  .vendor-info,
  .vendor-contact {
    font-size: 0.9rem;
  }
}
